/** Theme about page css */
.green.button {
    background: none #5cb85c;
    border-color: #4cae4c;
    color: #ffffff;
}

.about-wrap.full-width-layout {
    max-width: 100%;
}

.about-wrap .about-description,
.about-wrap .about-text {
    font-size: 17px;
}

.about-wrap h1 {
    margin: 0;
}

.about-wrap h2 {
    text-align: left;
}

.theme-description .about-text {
    margin: 0;
}

.about-theme {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1.105263157894737em;
    width: 100%;
}

.theme-description,
.theme-screenshot {
    width: 100%;
}

.theme-screenshot {
    order: 1;
}

.theme-description {
    margin-top: 1.105263157894737em;
    order: 2;
}

.actions {
    margin-top: 3em;
}

.col .button {
    margin-top: 7px;
}

.about-wrap h2 {
    font-size: 19px;
    font-weight: 600;
    margin-top: 0;
}

.about-wrap .two-col .col {
    padding: 2em 2em 1em 2em;
    background-color: #fff;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
    min-width: auto;
}

pre.changelog {
    font-size: 13px;
    background-color: #f5f5f5;
/*    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f5f5f5), color-stop(50%, #e6e6e6));
    background-image: -webkit-linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
    background-image: linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
    background-size: 38px 38px;*/
    border: 1px solid #d4d4d4;
    display: block;
    line-height: 19px;
    margin-bottom: 10px;
    overflow: visible;
    overflow-y: visible;
    overflow-y: hidden;
    padding: 14px;
}

.theme-video-wrap.about-wrap .feature-section.one-col {
    max-width: 1920px;
}

.vs-theme-table table {
    border-collapse: collapse;
}

.vs-theme-table th {
    border: 1px solid #e0e0e0;
    padding: 1em;
}

.vs-theme-table td {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    padding: 0.8em;
    text-align: center;
}

.vs-theme-table .dashicons {
    font-size: 32px;
    font-size: 2rem;
    width: unset;
    height: unset;
}

.vs-theme-table .dashicons-yes {
    color: #4ca54c;
}

.vs-theme-table .dashicons-no {
    color: #c83842;
}

.vs-theme-table tr:nth-child(even) {
    background-color: #ebebeb;
}

.vs-theme-table table {
    width: 100%;
}

.vs-theme-table table {
    width: 100%;
}

.vs-theme-table th:last-child,
.vs-theme-table th:first-child {
    width: 20%;
}

@media screen and (min-width: 872px) {
    .about-wrap .two-col .col {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .about-theme,
    .about-wrap [class$="-col"] {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .theme-description {
        margin-top: 0;
        order: 1;
        padding-right: 2em;
        width: 70%;
    }
    .theme-screenshot {
        order: 2;
        width: 30%;
    }
}

.changelog .block {
    padding: 7px 14px;
}

.changelog .block:nth-of-type(odd) {
    background-color: #e6e6e6;
}

.changelog .block:nth-of-type(even) {
    background-color: #efefef;
}

.changelog .block span {
    display: block;
    padding: 2px;
}
