/***********************
        Basic
***********************/

body{
    height: 100vh;
    background-color: #221A49;
}

.text-light{
    color: #FFF;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #221a49;
}
::-webkit-scrollbar-track {
    background: #FBC02D;
}

.btn-secondary{
    background-color: #FFF;
    color: #221A49;
    border: solid 3px #221A49;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 600;
}

.btn-primary{
    background-color: #221A49;
    color: #FFF;
    border: solid 3px #221A49;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 500;
    transition-duration: .3s;
}

#social{
    position: fixed;
    top: 30vh;
    right: 0px;
}

#social-fb{
    background-color: #FFF;
    height: 42px;
    padding: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}

#tool-btn{
    padding: 5px;
    background-color: #FFF;
    border-radius:50px;
    transition-duration: .5s;
    cursor: pointer;
    border: solid 3px #FBC02D;
  }
  
  img#tool-btn:hover{
    box-shadow: 0px 0px 10px 1px #263238;
    border-color: #FFF;
  }
  
  .tool-box{
    padding: 10px;
    margin: 0px;
    max-width: 390px;
    height: fit-content;
    background-color: #FFF;
    border-radius: 10px;
    border: solid 3px #FBC02D;
    position: fixed;
    top: 20px;
    right: 5px;
    display: none;
  }

  #tool-content{
    font-size: 12px;
    color: #000;
  }

  #tool-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  a:link{
      color:#FBC02D;
  }

  .sitemap{
      color:#FFF;
  }
  .sitemap:hover{
      color:#FBC02D;
  }
/***********************
          Hero
***********************/

#hero{
    height: 650px;
}

/***********************
        Footer
***********************/

#footer{
    background-color: #1a143b;
    padding: 40px 0px;
}

.footer-link{
    color: #FBC02D;
}
.footer-link:hover{
    color: #FFF;
}

/***********************
        CTA
***********************/

#cta{
    background-color: #FBC02D;
    height: 300px;
}

/***********************
      Error Pages
***********************/



h1.error{
    font-size: 12em;
}