/**
 * 1.3 - Media Breakpoints
 */

$mobile_width: 30em; // 480px

$mobile_portrait_width: 35.5em; // 568px

$mobile_admin_bar_width: 37.5625em; // 601px

$mobile_horizontal_width: 41.6875em; // 667px

$tablet_width: 48em; // 768px

$tablet_admin_bar_width: 48.9375em; // 783px

$desktop_width: 64em; //1024px

$large_width: 75em; //1200px

$wide_width: 85.375em; //1366px

$diagonal_width: 100em; //1660px

$ultra_wide_width: 120em; //1920px
