.section,
.home .archive-post-wrap .hentry,
.recent-blog-content .archive-post-wrap .hentry {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.admin-bar .section,
.admin-bar.home .archive-post-wrap .hentry,
.admin-bar .recent-blog-content .archive-post-wrap .hentry,
.admin-bar #feature-slider-section .hentry-inner,
.admin-bar.home .header-media,
.admin-bar.has-header-image.home .custom-header-media {
    min-height: calc( 100vh - 46px );
}

.color-scheme-wedding .section,
.color-scheme-wedding.admin-bar .section {
    min-height: unset;
}

.home .archive-post-wrap .hentry:before,
.recent-blog-content .archive-post-wrap .hentry:before {
    background-color: rgba(0,0,0,0.4);
}

.home .archive-post-wrap .hentry:before,
.recent-blog-content .archive-post-wrap .hentry:before,
#feature-slider-section .post-thumbnail:before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
   /* z-index: 1;*/
}

#feature-slider-section .post-thumbnail:before {
    background-color: rgba(0,0,0,0.2);
}

.section .wrapper {
    z-index: 0;
}

.home .archive-post-wrap .post-wrapper,
.recent-blog-content .archive-post-wrap .post-wrapper {
    z-index: 2;
}

.home .archive-post-wrap .hentry:nth-child(even) .entry-container,
.recent-blog-content .archive-post-wrap .hentry:nth-child(even) .entry-container {
    float: right;
}

.home .archive-post-wrap .post-wrapper .entry-container,
.recent-blog-content .archive-post-wrap .post-wrapper .entry-container {
    max-width: 700px;
    padding: 30px;
}

.archive-content-wrap .section-content-wrapper.layout-one .hentry,
.archive .archive-content-wrap .section-content-wrapper .hentry {
    margin-bottom: 35px;

    @include media(tablet) {
        margin-bottom: 70px;
    }

    @include media(wide) {
        margin-bottom: 105px;
    }

    .entry-header {
        margin-bottom: 14px;

        @include media(desktop){
            margin-bottom: 28px;
        }

        .entry-title {
            font-size: 24px;
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 0;

            @include media(desktop){
                font-size: 35px;
                font-size: 2.1875rem;
            }
        }
    }

    .post-thumbnail {
        margin-bottom: 21px;

        @include media(desktop) {
            margin-bottom: 28px;
        }

        @include media(wide) {
            margin-bottom: 42px;
        }
    }
}

.singular-content-wrap {

    .more-button {
        margin-top: 21px;
        padding: 0;

        &:hover,
        &:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}

.archive-content-wrap .section-content-wrapper.layout-one {

    .entry-container {
        text-align: left;

        > .entry-meta {
            border-right: 1px solid;
            float: left;
            font-weight: 600;
            letter-spacing: 2px;
            line-height: 2.92;
            margin-right: 17px;
            padding-right: 11px;
            text-align: center;

            @include media(desktop) {
                margin-right: 27px;
                padding-right: 27px;
            }

            .posted-on {
                margin-right: 0;

                .date-day {
                    display: block;
                    font-size: 50px;
                    font-size: 3.125rem;
                    font-weight: 400;
                    line-height: 0.6;
                    margin-bottom: 10px;

                    @include media(desktop) {
                        font-size: 70px;
                        font-size: 4.375rem;
                        margin-bottom: 20px;
                    }
                }

                a:before {
                    display: none;
                }
            }
        }
    }

    .entry-header-wrapper {
        overflow: hidden;

        .entry-meta {
            margin: 0;
        }
    }
}

.archive-content-wrap {

    .section-content-wrapper {

        .hentry {

            &:last-child {
                margin-bottom: 35px;

                @include media(desktop) {
                    margin-bottom: 38px;
                }

                @include media(wide) {
                    margin-bottom: 42px;
                }
            }

            .entry-header {
                margin-bottom: 21px;

                @include media(desktop){
                    margin-bottom: 28px;
                }

                .entry-title {
                    font-size: 24px;
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 0;
                    margin-top: 0;

                    @include media(desktop){
                        font-size: 36px;
                        font-size: 2.25rem;
                    }
                }
            }

            .entry-meta {
                margin: 0;
                font-weight: 600;

                .posted-on {
                    margin-right: 0;
                }

                .cat-links {
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }

            .vcard {
                font-weight: 600;
            }

            .entry-summary {
                margin-top: 0;
            }

            .post-thumbnail {

                &:hover {

                    img {
                        transform: scale(1) translateX(0);
                        -o-transform: scale(1) translateX(0);
                        -moz-transform: scale(1) translateX(0);
                        -webkit-transform: scale(1) translateX(0);
                    }
                }
            }
        }
    }

    .entry-footer:first-child {
        margin-top: 0;
    }
}

.archive-content-wrap {

    .post-thumbnail {
        overflow: hidden;

        img {
            transform: scale(1.1);
            -o-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            width: 100%;
        }
    }
}

.archive-content-wrap {

    .section-content-wrapper.layout-four {
        @include flex;
        align-items: unset;
        justify-content: unset;
    }
}

.archive-content-wrap  .entry-content {
    margin-top: 21px;

    @include media(desktop) {
        margin-top: 35px;
    }
}

.page-header {
    text-align: center;
}

.singular-content-wrap .entry-header .entry-meta {
    text-align: center;
}

.section:nth-child(2n+1) + .site-content {
    border-top: 0;
}

.site-main nav.post-navigation {
    border-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-style: solid;
    margin-bottom: 0;
    padding-bottom: 35px;
    position: relative;

    @include media(desktop) {
        padding-bottom: 42px;
    }

    @include media(diagonal) {
        padding-bottom: 49px;
    }

    @include media(ultra-wide) {
        padding-bottom: 56px;
    }
}

.archive-content-wrap nav.navigation.posts-navigation {
    padding-top: 35px;

    .nav-next {
        text-align: right;
    }
}

.singular-content-wrap {

    .section-title {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

.archive .archive-post-wrap .hentry,
.search .archive-post-wrap .hentry,
.blog:not(.home) .archive-post-wrap .hentry {
    margin-bottom: 0;
}

.archive .archive-post-wrap .post-wrapper,
.search .archive-post-wrap .post-wrapper,
.blog:not(.home) .archive-post-wrap .post-wrapper {
    border-bottom: 1px solid;
    margin-bottom: 35px;
    padding-bottom: 35px;
}
