.services-section.section {

    .hentry {
        width: 100%;

        .hentry-inner {
            border: 1px solid;
            padding: 28px;

            .post-thumbnail {
                margin-left: auto;
                margin-right: auto;
                max-width: 125px;
                text-align: center;

                &:hover {

                    @include media(tablet) {
        
                        img {
                            transform: scale(.9);
                            -o-transform: scale(.9);
                            -moz-transform: scale(.9);
                            -webkit-transform: scale(.9);
                        }
                    }    
                }
                
                img {
                    margin: 0 auto;

                    @include media(mobile_horizontal) {
                        margin: 0;
                    }
                }
            }

            .entry-container {
                text-align: center;
            }
        }
    }
}

.services-section .hentry .hentry-inner .post-thumbnail a {
    display: inline-block;
    position: relative;
}

#services-section.style-two .hentry .hentry-inner {
    border: 0;
    padding: 0;
}