/**
 * 14.5 - Testimonials
 */

 #testimonial-content-section {
    overflow: unset;
 }

#testimonial-content-section .section-content-wrapper {
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}

#testimonial-content-section .section-content-wrapper .entry-content:before {
    content: "\201C";
    font-family: Arial;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#testimonial-content-section .section-content-wrapper .hentry-inner {
    position: relative;
}

#logo-slider-section .owl-nav,
#testimonial-content-section .owl-nav {
    z-index: 199;
}

#logo-slider-section .owl-prev,
#logo-slider-section .owl-next,
#testimonial-content-section .owl-prev,
#testimonial-content-section .owl-next {
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
    padding: 7px;
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    transform: translateY(-45%);
}

#logo-slider-section .owl-prev,
#testimonial-content-section .owl-prev {
    left: 0;
}

#logo-slider-section .owl-next,
#testimonial-content-section .owl-next {
    right: 0;
}

#logo-slider-section .owl-prev .icon,
#logo-slider-section .owl-next .icon,
#testimonial-content-section .owl-prev .icon,
#testimonial-content-section .owl-next .icon {
    width: 49px;
    height: 49px;
}

#testimonial-content-section .entry-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
    padding: 112px 80px;
}

#testimonial-content-section .entry-container + .entry-header {
    margin-top: 28px;
}

#testimonial-content-section .entry-title,
#testimonial-content-section .entry-meta {
    display: block;
    text-transform: capitalize;
    letter-spacing: 0;
}

#testimonial-content-section .entry-title {
    line-height: 1.75;
    font-weight: 700;
    margin-top: 7px;
}

#testimonial-content-section .more-link {
    display: none;
}

#testimonial-content-section .post-thumbnail img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
}

#testimonial-content-section .post-thumbnail a {
    display: inline-block;
}

#testimonial-content-section .post-thumbnail {
    margin-top: -60px;
    margin-bottom: 0;
}

#testimonial-content-section.style-two .hentry .entry-container {
    background-color: transparent;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#testimonial-content-section.style-two .entry-title {
    letter-spacing: 5px;
    text-transform: uppercase;
}

#testimonial-content-section.style-two .entry-container + .entry-header,
#testimonial-content-section.style-two .post-thumbnail {
    margin-top: 21px;
}

#testimonial-content-section.style-two .section-content-wrapper .entry-content:before {
    font-weight: 300;
    font-size: 200px;
    font-size: 12.5rem;
    line-height: 1;
}

#testimonial-content-section.style-two .section-content-wrapper .entry-content {
    margin-top: 0;
}

#testimonial-content-section.style-two .owl-prev,
#testimonial-content-section.style-two .owl-next {
    display: none;
}

#testimonial-content-section.style-two .owl-prev:after,
#testimonial-content-section.style-two .owl-next:before {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: 3px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
}

#testimonial-content-section.style-two .owl-prev:after {
    content: "PREV";
}

#testimonial-content-section.style-two .owl-next:before {
    content: "NEXT";
}

#testimonial-content-section.style-two .owl-prev svg,
#testimonial-content-section.style-two .owl-next svg {
    display: none;
    opacity: 0;
    visibility: hidden;
}

#testimonial-content-section.style-two .owl-prev:before,
#testimonial-content-section.style-two .owl-next:after {
    content: "";
    height: 70px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

#testimonial-content-section.style-two .owl-prev:before {
    right: 0;
}

#testimonial-content-section.style-two .owl-next:after {
    left: 0;
}
