/**
 * 10.0 - Clearings
 */

.wrapper:before,
.wrapper:after,
.posts-navigation:before,
.posts-navigation:after,
.clear:before,
.clear:after,
.section:before,
.section:after,
.section-content-wrapper:before,
.section-content-wrapper:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.content-area:before,
.content-area:after,
.site-main > article:before,
.site-main > article:after,
.post-navigation:before,
.post-navigation:after,
.posts-navigation:before,
.posts-navigation:after,
.pagination:before,
.pagination:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.widget:before,
.widget:after,
.textwidget:before,
.textwidget:after,
#tertiary:before,
#tertiary:after,
#colophon .wrapper:before,
#colophon .wrapper:after,
#footer-newsletter .widget-inner:before,
#footer-newsletter .widget-inner:after,
#timeline-section .hentry:before,
#timeline-section .hentry:after,
.view-more:before,
.view-more:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.wrapper:after,
.posts-navigation:after,
.clear:after,
.section:after,
.section-content-wrapper:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.content-area:after,
.site-main > article:after,
.post-navigation:after,
.posts-navigation:after,
.pagination:after,
.primary-menu:after,
.social-links-menu:after,
.widget:after,
.textwidget:after,
#tertiary:after,
#colophon .wrapper:after,
#footer-newsletter .widget-inner:after,
#timeline-section .hentry:after,
.view-more:after {
	clear: both;
}
