/**
 * 12.0 - Content
 */

#page {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.boxed-layout #page {
    max-width: 1600px;
}

.wrapper,
.custom-header-content,
.archive .site-footer .wrapper,
.home .archive-post-wrap .post-wrapper,
.recent-blog-content .archive-post-wrap .post-wrapper {
    margin: 0 auto;
    max-width: 1520px;
    width: 100%;
}

.site-header-main .wrapper {
    max-width: 100%;
}

.header-media .wrapper,
#footer-instagram .wrapper,
.recent-blog-content .wrapper,
.home.blog .site-content .wrapper {
    width: 100%;
    max-width: 1920px;
}

.home.blog .site-content,
.home.blog .site-content #primary,
.home.blog .site-content > .wrapper {
    padding-left: 0;
    padding-right: 0;
}

.home.blog .site-content.no-section-heading,
.recent-blog-content.section.no-section-heading {
    padding-top: 0;
}

.no-sidebar.full-width-layout .recent-blog-content .wrapper {
    max-width: 100%;
}

.page.no-sidebar .content-area,
.single.no-sidebar .content-area {
    max-width: 760px;
    margin: 0 auto;
}

.recent-blog-content.section,
.recent-blog-content.section .view-more {
    margin-bottom: 0;
    padding-bottom: 0;
}

.recent-blog-content.section .view-more .button {
    display: block;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}
