/*--------------------------------------------------------------
## alignments 4.1
--------------------------------------------------------------*/
@import 'accessibility';

/*--------------------------------------------------------------
## alignments 4.2
--------------------------------------------------------------*/
@import 'alignments';

/*--------------------------------------------------------------
## alignments 4.1
--------------------------------------------------------------*/
@import 'breadcrumbs';

/*--------------------------------------------------------------
## alignments 4.1
--------------------------------------------------------------*/
@import 'captions';

/*--------------------------------------------------------------
## clearings 4.3
--------------------------------------------------------------*/
@import 'clearings';

/*--------------------------------------------------------------
## alignments 4.1
--------------------------------------------------------------*/
@import 'content';

/*--------------------------------------------------------------
## alignments 4.1
--------------------------------------------------------------*/
@import 'scroll-up';

/*--------------------------------------------------------------
## alignments 4.1
--------------------------------------------------------------*/
@import 'sidebar';

/**
 * 14.0 - Modules
 */

.section {
	clear: both;
	display: block;
	position: relative;
	width: 100%;
}

.section,
body:not(.home) .site-content {
    padding: 42px 0 7px 0;
}

.home .site-content {
    padding: 42px 0 0 0;
}

.header-media + .no-section-heading {
    padding-top: 84px;
}

.section.no-section-heading {
	padding-top: 42px;
}

#promotion-section {
    padding: 84px 0;
}

.section-heading-wrapper,
#footer-instagram .widget-title {
	display: block;
	max-width: 920px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

#testimonial-content-section .owl-slideshow {
	overflow: hidden;
}


/* Rock Music Section Background Separator */
.image-sep-on #page .section:after {
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 250px;
	position: absolute;
	bottom: -125px;
	left: 0;
	z-index: 1;
}

.image-sep-on #page .recent-blog-content.section:after {
	content: none;
}

#hero-section,
#team-content-section,
#playlist-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
