/*--------------------------------------------------------------
## Hero-content 8.3.1
--------------------------------------------------------------*/

@import 'section/hero-content';

/*--------------------------------------------------------------
## Hero-content 8.3.2
--------------------------------------------------------------*/

@import 'section/events';

/*--------------------------------------------------------------
## promotional 8.3.3
--------------------------------------------------------------*/

@import 'section/promotional';

/*--------------------------------------------------------------
## testimonials 8.3.4
--------------------------------------------------------------*/

@import 'section/testimonials';

/*--------------------------------------------------------------
## Blog 8.3.5
--------------------------------------------------------------*/

@import 'section/blog';

/*--------------------------------------------------------------
## newsletter 8.3.6
--------------------------------------------------------------*/

@import 'section/newsletter';

/*--------------------------------------------------------------
## Portfolio 8.3.7
--------------------------------------------------------------*/

@import 'section/portfolio';

/*--------------------------------------------------------------
## feature-slider 8.3.8
--------------------------------------------------------------*/

@import 'section/feature-slider';

/*--------------------------------------------------------------
## footer 8.3.9
--------------------------------------------------------------*/

@import 'section/footer';

/*--------------------------------------------------------------
## archives 8.1.1
--------------------------------------------------------------*/

@import 'primary/archives';

/*--------------------------------------------------------------
## comments 8.1.2
--------------------------------------------------------------*/

@import 'primary/comments';

/*--------------------------------------------------------------
## widgets 8.32.1
--------------------------------------------------------------*/

@import 'secondary/widget';

/*--------------------------------------------------------------
## woocommerce 8.3.10
--------------------------------------------------------------*/

@import 'section/woocommerce';

/*--------------------------------------------------------------
## Team 8.3.11
--------------------------------------------------------------*/

@import 'section/team';

/*--------------------------------------------------------------
## Logo-Slider 8.3.12
--------------------------------------------------------------*/

@import 'section/logo-slider';

/*--------------------------------------------------------------
## Service 8.3.13
--------------------------------------------------------------*/

@import 'section/service';

/*--------------------------------------------------------------
## Featured-content 8.3.15
--------------------------------------------------------------*/

@import 'section/featured-content';

/*--------------------------------------------------------------
## Stats 8.3.16
--------------------------------------------------------------*/

@import 'section/stats';

/*--------------------------------------------------------------
## Gallery 8.3.17
--------------------------------------------------------------*/

@import 'section/gallery';

/*--------------------------------------------------------------
## Gallery 8.3.18
--------------------------------------------------------------*/

@import 'section/faq';

/*--------------------------------------------------------------
## Pricing 8.3.19
--------------------------------------------------------------*/

@import 'section/pricing';

/*--------------------------------------------------------------
## Playlist and Stick Playlist 8.3.20
--------------------------------------------------------------*/

@import 'section/playlist';

/*--------------------------------------------------------------
## App Section 8.3.20
--------------------------------------------------------------*/

@import 'section/app-section';

/*--------------------------------------------------------------
## Countdown 8.3.21
--------------------------------------------------------------*/

@import 'section/countdown-section';

/*--------------------------------------------------------------
## Timeline 8.3.22
--------------------------------------------------------------*/

@import 'section/timeline';

/*--------------------------------------------------------------
## Category 8.3.23
--------------------------------------------------------------*/

@import 'section/category';
